asgiref==3.11.1 ; python_version >= "3.12"
coverage==7.13.5 ; python_version >= "3.12"
django-filter==25.2 ; python_version >= "3.12"
django-stubs-ext==6.0.0 ; python_version >= "3.12"
django-stubs==6.0.0 ; python_version >= "3.12"
django==6.0.3 ; python_version >= "3.12"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.12"
djangorestframework-stubs==3.16.8 ; python_version >= "3.12"
djangorestframework==3.16.1 ; python_version >= "3.12"
load-dotenv==0.1.0 ; python_version >= "3.12"
pillow==12.1.1 ; python_version >= "3.12"
psycopg2-binary==2.9.11 ; python_version >= "3.12"
pyjwt==2.12.1 ; python_version >= "3.12"
python-dotenv==1.2.2 ; python_version >= "3.12"
sqlparse==0.5.5 ; python_version >= "3.12"
types-pyyaml==6.0.12.20250915 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
tzdata==2025.3 ; python_version >= "3.12" and sys_platform == "win32"
